body{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 400px;
    height: 200px;
    background: #ccc;
    margin-top: -100px;
    margin-left: -200px;/*line9 10确定块的中心位置*/
    position: absolute;
    top: 50%;
    left: 50%;

}
.c1{
    width: 50px;
    height: 50px; 
    border-bottom-right-radius: 50px;
    background: #fc0;
    position: absolute;
    top: 0px;
    left: 0px;
}
.c2{
    width: 50px;
    height: 50px; 
    border-top-left-radius: 50px;
    background: #fc0;
    position: absolute;
    right: 0px;
    bottom: 0px;
}